# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# AWS credentials — NEVER commit these
.aws/
credentials
*.pem
*.key

# Local test data
sample_events.json
*.parquet

# IDE
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/